.header__auth-link {
  display: inline;

  width: max-content;
  margin: 0 24px 0 0;
}

.header__auth-link:last-of-type {
  margin-right: 0;
}

@media (max-width: 767px) {
  .header__auth-link {
    display: block;
  }
}
