.header__open-profile-button {
  display: none;

  margin: 0 0 16px 0;
  padding: 0;

  list-style-type: none;

  border: 0;
  outline: none;
  background-color: #000;
}

.header__open-profile-button:last-of-type {
  margin-bottom: 0;
}

.header__open-profile-button:hover {
  cursor: pointer;
  transition: opacity 0.2s linear;

  opacity: 0.6;
}

@media (max-width: 767px) {
  .header__open-profile-button {
    display: block;
  }
}
