.popup__close-icon {
  position: absolute;
  top: -33px;
  right: -33px;

  width: 40px;
  height: 40px;
  padding: 0;

  border: 0;
  outline: 0;
  background: center/cover no-repeat url(../../../images/close-icon.svg);
  background-size: 100% 100%;
}

.popup__close-icon:hover {
  cursor: pointer;
  transition: opacity 0.2s linear;

  opacity: 0.6;
}

@media (max-width: 767px) {
  .popup__close-icon {
    top: -45px;
    right: 0;
    left: 0;

    width: 30px;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
  }
}
