.error__link {
  margin-top: 15px;

  color: #fff;

  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.error__link:hover {
  transition: color 0.2s linear;

  color: rgba(255, 255, 255, 0.6);
}
