@import url(./__title/error__title.css);
@import url(./__link/error__link.css);

.error {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  max-width: 558px;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
}
