.popup__input {
  display: block;

  width: 100%;
  margin-bottom: 0;
  padding: 13px 0;

  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;

  font-size: 14px;
  line-height: 17px;
}

.popup__input:last-of-type {
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .popup__input {
    padding: 11px 0;

    font-size: 12px;
  }

  .popup__input:last-of-type {
    margin-top: 0;
    margin-bottom: 0;
  }
}
