.popup__message {
  width: 100%;
  margin: 0;
  padding: 0;

  text-align: center;
  white-space: pre-line;

  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}

@media (max-width: 767px) {
  .popup__message {
    font-size: 20px;
    line-height: 24px;
  }
}
