.profile__edit-button {
  min-width: 24px;
  min-height: 24px;
  margin-left: 16px;

  border: 1px #fff solid;
  outline: none;
  background:
    url(../../../images/profile-edit-button.svg) no-repeat center
    center;
  background-size: 10px;
}

.profile__edit-button:hover {
  cursor: pointer;
  transition: opacity 0.2s linear;

  opacity: 0.6;
}

@media (max-width: 767px) {
  .profile__edit-button {
    min-width: 18px;
    min-height: 18px;
    margin-left: 8px;
  }
}
