@import url(./__form/auth__form.css);
@import url(./__inner/auth__inner.css);
@import url(./__input/auth__input.css);
@import url(./__login-link/auth__login-link.css);
@import url(./__save-button/auth__save-button.css);
@import url(./__title/auth__title.css);

.auth {
  display: flex;
  align-items: center;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;
  max-width: 358px;
  margin: 0 auto;
  padding: 60px 0;
}

@media (max-width: 767px) {
  .auth {
    padding: 40px 30px;
  }
}
